body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header,
.topper {
    background-color: #1f2937;
    color: #f9faf8;
}

.header_shell {
    padding: 0px 150px;
    background-color: #1f2937;
}

.topper_shell,
.four_pics_shell,
.quote_shell,
.sign_up_shell {
    padding: 50px 150px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.header_logo {
    font-size: 24px;
}

.topper p,
li {
    color: #e5e7eb;
    font-size: 18px;
}

.topper_image {
    height: 200px;
    width: 700px;
    border: 1px solid blue;
    background-color: aquamarine;
    flex: auto;
    margin-left: 50px;
}

.topper img {
    flex: 1 1 auto;
    width: 400px;
    max-width: 100%;
    max-height: auto;
    margin-left: 50px;
}

.topper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: auto;
}

.topper_shell {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
}

li {
    padding-left: 20px;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px 30px;
    height: 40px;
}

.pictures img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    
}

.four_pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pictures {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    text-align: center;
    width: 150px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote_shell {
    background-color: #e5e7eb;
    padding: 50px 150px;
}

.quote_text {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    margin: 0px 100px;
}

.thor {
    font-weight: 600;
    font-size: 18px;
    align-self: flex-end;
    margin-right: 100px;
}

.sign_up {
    background-color: #3882f6;
    padding: 30px 100px;
    border-radius: 15px;
    color:#f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action p {
    margin-top: -20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px 0px;
}