body {
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.header,
.topper {
    background-color: #1f2937;
    color: #f9faf8;
}

.topper,
.upper_mid,
.middle_mid,
.lower_mid {
    padding: 50px 200px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.header_logo {
    font-size: 24px;
}

.topper p,
li {
    color: #e5e7eb;
    font-size: 18px;
}

.topper_image {
    height: 200px;
    width: 700px;
    border: 1px solid blue;
    background-color: aquamarine;
    flex: auto;
}

.topper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
}

li {
    padding-left: 20px;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px 20px;
}

.pictures img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border: 2px solid blue;
}

.upper_mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pictures {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    text-align: center;
    width: 150px;
}

.middle_mid {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    margin: 0px 100px;
}

.quoted {
    font-weight: 600;
    font-size: 18px;
    align-self: flex-end;
    margin-right: 100px;
}

.lower_mid {
    background-color: #3882f6;
   
    margin: 40px 0px;
    border-radius: 15px;
    color:#f9faf8;
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
}